{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "plugins": ["react", "prettier", "react-hooks"],
  "extends": [
    "plugin:react/recommended",
    "prettier",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "ignorePatterns": ["build/", "node_modules/"],
  "rules": {
    "react/prop-types": "off",
    "no-console": 1,
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-unused-vars": "error"
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"]
    }
  ]
}
